::-webkit-input-placeholder { 
	color: $color-white;
}

:-moz-placeholder {
	color: $color-white;
 	opacity:  1;
}

::-moz-placeholder {
 	color: $color-white;
	opacity:  1;
}

:-ms-input-placeholder {
	color: $color-white;
}

::-ms-input-placeholder {
	color: $color-white;
}

::placeholder {
	color: $color-white;
}