.hero {
	&__home {
		padding: 160px 0 40px 0;
		@media(max-width: 768px) {
			padding: 40px 0;
		}
		h1 {
			font-size: 140px;
			line-height: 148px;
			margin: 40px 0 60px 0;
			@media(max-width: 768px) {
				font-size: 64px;
				line-height: 64px;
				margin: 20px 0 40px 0;
			}
		}
		.hero-above-heading {
			align-items: center;
			background-image: linear-gradient(to bottom, rgba($color-black-alt, 0.1) 10%, rgba($color-white, 0) 20%, rgba($color-white, 0) 80%, rgba($color-black-alt, 0.1) 90%);
				border-radius: 50%;
			display: flex;
			font-size: 28px;
			gap: 6px;
			height: 120px;
			justify-content: center;
			line-height: 40px;
			max-width: 800px;
			overflow: hidden;
			position: relative;
			width: 100%;
			@media(max-width: 768px) {
				font-size: 20px;
				height: 80px;
				line-height: 24px;
			}
			.hero-scroll-container {			
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				top: 20px;
				z-index: 0;
				@media(max-width: 768px) {
					top: 12px;
				}
			}
		}
		.hero-buttons-container {
			align-items: center;
			display: flex;
			justify-content: center;
			margin: 0 auto;
			max-width: 640px;
			position: relative;
			@media(max-width: 768px) {
				flex-direction: column;
				gap: 40px;
				max-width: 280px;
			}
			img {
				bottom: -45px;
				height: 90px;
				left: -90px;
				position: absolute;
				@media(max-width: 768px) {
					bottom: auto;
					height: 70px;
					left: -45px;
					top: 20px;
				}
			}
		}
		.hero-get-app-button {
			align-items: center;
			background-color: $color-white;
			display: flex;
			font-size: 28px;
			height: 80px;
			justify-content: center;
			letter-spacing: 2px;
			line-height: 28px;
			margin: 0 auto;
			position: relative;
			width: 280px;
			@media(max-width: 768px) {
				font-size: 20px;
				height: 60px;
				line-height: 24px;
				width: 220px;
			}
			a {
				color: $color-black;
			}
		}
		.hero-featured-on-logos {
			margin-top: 120px;
			@media(max-width: 768px) {
				margin-top: 60px;
			}
			span {
				float: right;
				font-size: 44px;
				line-height: 48px;
				transform: rotate(-8deg);
				@media(max-width: 768px) {
					display: block;
					float: none;
					font-size: 28px;
					line-height: 32px;
					text-align: center;
				}
			}
		}
	}
}
