.text {
	&-purple {
		color: $color-purple;
	}

	&-pink {
		color: $color-pink;
	}

	&-mango {
		color: $color-mango;
	}

	&-deep-blue {
		color: $color-deep-blue;
	}

	&-deep-green {
		color: $color-deep-green;
	}
}