.faqs {
	.container {
		max-width: 1024px;
		padding-bottom: 80px;
	}
	.faqs-heading {
		font-size: 42px;
		line-height: 46px;
		padding: 40px 0;
		@media(max-width: 768px) {	
			font-size: 32px;
			line-height: 36px;
		}
	}
	.accordion-item {
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}
	.accordion-header {
		border-top: 1px solid rgba($color-white, 0.05);
		button {
			background: transparent;
			border-radius: 12px;
			box-shadow: none;
			color: $color-white;
			font-size: 16px;
			line-height: 24px;
			transition: background-color 400ms ease-in-out;
			@media (max-width: 768px) {
				font-size: 14px;
				line-height: 22px;
			}
			&:after {
				background: transparent;
				content: '+';
				font-size: 32px;
			}
		}
	}
	.accordion-header:has(~ .show) {
		border: 0;
		button {
			background: linear-gradient(90deg, $color-gradient-a 0%, $color-gradient-b 100%);
			color: $color-black-alt;

			&:after {
				background: transparent;
				content: '-';
				font-size: 32px;
			}
		}
	}
	.accordion-body {
		color: rgba($color-white, 0.45);
		font-size: 16px;
		line-height: 24px;
		p {
			margin: 0;
			padding: 10px;
		}
	}
}
