.nominate-form {
	&__singles-list {
		background: url(../img/sitch-updated/bg-singles-list.webp) no-repeat top center;
		background-size: 100% auto;
	}

	.tally-form {
		background: $color-black-alt;
		padding: 20px;
	}
}
