::-webkit-input-placeholder { 
	color: $color-white;
}

:-moz-placeholder {
	color: $color-white;
 	opacity:  1;
}

::-moz-placeholder {
 	color: $color-white;
	opacity:  1;
}

:-ms-input-placeholder {
	color: $color-white;
}

::-ms-input-placeholder {
	color: $color-white;
}

::placeholder {
	color: $color-white;
}

html {
	overflow-x: hidden;
}

body {
	background: $color-black-alt;
	color: $color-white;
	overflow-x: hidden;
}

a {
	color: $color-primary-1;
	text-decoration: none;
	transition: color 400ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		color: $color-white;
	}
}

h1 {
	color: $color-white;
	font-size: 56px;
	line-height: 64px;

	@media (max-width: 768px) {
		font-size: 44px;
		line-height: 52px;
	}
}

h2 {
	color: $color-white;
	font-size: 48px;
	line-height: 56px;

	@media (max-width: 768px) {
		font-size: 36px;
		line-height: 44px;
	}
}

p {
	color: rgba($color-white, 0.45);
	font-size: 16px;
	line-height: 24px;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 22px;
	}
}

.img-desktop {
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}

.img-mobile {
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}
