@font-face {
	font-display: swap;
	font-family: 'AvenirRegular';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/AvenirRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'JandusRoad';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/JandusRoad.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'JandusRoadCondensed';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/JandusRoadCondensed.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'JandusRoadOblique';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/JandusRoadOblique.woff2') format('woff2');
}

body, input, button, textarea {
	font-family: Avenir, system-ui;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: JandusRoad, system-ui;
	font-weight: 400;
}