@font-face {
	font-display: swap;
	font-family: 'ConsortRRLightCondensed';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/ConsortRRLightCondensed.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'PPMoriRegular';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/PPMoriRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'WixMadeforText';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/WixMadeforText.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'SeriouslyNostalgicRegular';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/SeriouslyNostalgic-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'SeriouslyNostalgicFnRegular';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/SeriouslyNostalgicFn-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'BelmonteBallpointCursive';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/BelmonteBallpointCursive.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Temeraire';
	font-style: 'normal';
	font-weight: 400;
	src: url('../fonts/Temeraire.woff2') format('woff2');
}

body, input, button, textarea {
	font-family: PPMoriRegular, system-ui;
	font-size: 18px;
	line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: SeriouslyNostalgicFnRegular, system-ui;

	br {
		@media (max-width: 768px) {
			display: none;
		}
	}
}
