$color-black: #080808;
$color-black-alt: #000000;
$color-white: #ffffff;
$color-primary-1: #1078cc;
$color-primary-2: #242ac2;
$color-light-grey: #f0f0f0;
$color-light-grey-alt: #9f9f9f;
$color-dark-grey: #161616;
$color-gradient-a: #f3e48a;
$color-gradient-b: #84c5ff;


