body.why-sitch {
	background: linear-gradient(180deg, $color-black-alt 0%, #080808 100%);

	.activate-fixed-container {
		background: linear-gradient(180deg, $color-black-alt 0%, $color-black 100%);
		bottom: 0;
		left: 0;
		padding: 30px;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 9;
	
		&.activate-end {
			background: transparent;
			position: static;
		}
		
		.activate-button {
			background: linear-gradient(90deg, $color-gradient-a 0%, $color-gradient-b 100%);
			border-radius: 24px;
			color: $color-black;
			display: inline-block;
			font-size: 14px;
			line-height: 20px;
			padding: 15px 60px;
			text-decoration: none;
	
			&:hover,
			&:active,
			&:focus {
				background: linear-gradient(90deg, $color-gradient-b 0%, $color-gradient-a 100%);
			}
		}
	}
}

section.why-sitch {
	margin: 80px auto;
	max-width: 800px;

	img {
		&.why-sitch-cover-desktop {
			display: block;

			@media(max-width: 768px) {
				display: none;
			}
		}

		&.why-sitch-cover-mobile {
			display: none;

			@media(max-width: 768px) {
				display: block;
			}
		}
	}

	h2 {
		font-size: 52px;
		line-height: 60px;
		margin: 40px;

		@media(max-width: 768px) {
			font-size: 42px;
			line-height: 50px;
		}
	}

	h3 {
		font-size: 32px;
		line-height: 36px;

		@media(max-width: 768px) {
			font-size: 20px;
			line-height: 28px;
		}
	}

	p {
		@media(max-width: 768px) {
			font-size: 14px;
			line-height: 22px;
		}
	}

	h3,
	p,
	.image-group {
		margin: 0 auto 20px auto;
		max-width: 600px;
	}

	.stat-group {
		align-items: center;
		display: flex;
		gap: 20px;
		justify-content: center;
		margin: 40px 0 60px 0;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		.ws-stat {
			background: linear-gradient(90deg, rgba(61, 255, 203, 0.8) 0%, rgba(132, 197, 255, 0.8) 100%);
			border-radius: 12px;
			color: $color-black;
			font-size: 1	px;
			line-height: 16px;
			padding: 15px;
			position: relative;

			&:first-child {
				@media (max-width: 768px) {
					align-self: flex-start;
				}
			}

			&:last-child {
				top: 20px;

				@media (max-width: 768px) {
					align-self: flex-end;
					top: 0;
				}
			}
		}
	}

	.image-group {
		align-items: center;
		display: flex;
		gap: 10px;
		justify-content: center;
		margin: 40px auto 80px auto;

		img {
			max-width: 18%;
		}
	}

	.card-group {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 80px 0 160px 0;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		.ws-card {
			border: 1px solid rgba($color-white, 0.15);
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-radius: 12px;
			font-size: 18px;
			line-height: 22px;
			padding: 20px 20px 20px 20px;
			position: relative;
			width: 375px;

			@media (max-width: 768px) {
				width: 320px;
			}

			a {
				font-size: 18px;
				line-height: 22px;

				@media (max-width: 768px) {
					font-size: 14px;
				}
			}

			&:first-child {
				left: -40px;
				transform: rotate(-15deg);
				z-index: 1;

				@media (max-width: 768px) {
					left: 0;
					transform: rotate(-7deg);
				}
			}

			&:last-child {
				right: -40px;
				top: 70px;
				transform: rotate(15deg);
				z-index: 0;

				@media (max-width: 768px) {
					right: 0;
					top: 70px;
					transform: rotate(7deg);
				}
			}

			img {
				margin-bottom: 20px;
				max-width: 90px;
			}
		}
	}
}
