$color-black: #1e1e1e;
$color-white: #ffffff;

$color-primary-1: #3da3ff;

// Secondary
$color-deep-blue: #133a7c;
$color-deep-green: #349a65;
$color-mild-green: #68bebb;

// Tertiary 
$color-purple: #a663fd;
$color-pink: #ff2559;
$color-mango: #ffa70a;