header {
	background: url(../img/landing-6/bg-1.webp) no-repeat top center;
	background-size: cover;
	padding: 40px 0 0 0;
	position: relative;

	> div {
		background: url(../img/landing-6/bottom-shadow.webp) repeat-x bottom left;
	}

	.brand-description {
		margin: 0 auto;
		max-width: 600px;
		padding: 40px 0;

		h1 {
			font-size: 40px;
			line-height: 44px;
			margin-bottom: 30px;

			@media(max-width: 768px) {
				font-size: 36px;
				line-height: 40px;
			}
		}
	}

	.whats-the-sitch {
		background-color: $color-black;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		margin: 80px auto 0 auto;
		max-width: 400px;
		padding: 80px 20px 240px 20px;
		position: relative;

		@media(max-width: 768px) {
			padding-bottom: 180px;
		}
		
		.sitch-icon {
			left: -16px;
			position: absolute;
			top: -16px;
		}

		h2 {
			font-family: PPMoriRegular, system-ui;
			font-size: 30px;
			line-height: 40px;
			margin: 20px 0;
		}

		.ask-send-form {
			position: relative;

			input[type="text"] {
				background-color: $color-white;
				border-radius: 30px;
				color: $color-black;
				font-size: 16px;
				line-height: 1;
				padding: 15px 45px;
				width: 100%;
			}

			.send-form-attach-button {
				cursor: pointer;
				left: 10px;
				position: absolute;
				top: 12px;
			}

			.send-form-button {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 12px;
			}
		}
	}
}
