$color-black: #080808;
$color-white: #ffffff;

$color-primary-1: #1078cc;
$color-primary-2: #242ac2;

$color-black-alt: #161616;

$color-light-grey: #f0f0f0;
$color-dark-grey: #9f9f9f;

$color-gradient-a: #3dffcb;
$color-gradient-b: #84c5ff;


