.navbar {
	.navbar-brand {
		@media(max-width: 960px) {
			margin: 0 auto;
			position: relative;
		}
		&.navbar-brand-sitch {
			img {
				height: 52px;
				@media(max-width: 960px) {
					height: 44px;
				}
			}
		}
	}
}
