footer {
	text-align: center;
	color: $color-primary-1;
	padding: 60px 0;

	a {
		color: $color-primary-1;
		text-decoration: none;
		transition: all 200ms ease-in-out;

		&:hover,
		&:focus,
		&:active {
			color: $color-white;
		}
	}

	p {
		line-height: 28px;
		margin-bottom: 0;
	}

	nav {
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-bottom: 20px;
	}
}