.text {
	&-primary-1 {
		color: $color-primary-1;
	}

	&-primary-2 {
		color: $color-primary-2;
	}

	&-primary-3 {
		color: $color-primary-3;
	}

	&-purple {
		color: $color-purple;
	}

	&-pink {
		color: $color-pink;
	}

	&-mango {
		color: $color-mango;
	}

	&-deep-blue {
		color: $color-deep-blue;
	}

	&-deep-green {
		color: $color-deep-green;
	}
}