// Primary
$color-primary-1: #84c5ff;
$color-primary-2: #2369e2;
$color-primary-3: #080808;

// Neutrals
$color-neutral-1: #ffffff;
$color-neutral-2: #dadada;
$color-neutral-3: #9c9c9c;
$color-neutral-4: #6b6b6b;
$color-neutral-5: #191919;

// Secondary
$color-deep-blue: #133a7c;
$color-deep-green: #349a65;
$color-mild-green: #68bebb;

// Tertiary 
$color-purple: #a663fd;
$color-pink: #ff2559;
$color-mango: #ffa70a;